<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'blueprint/screen.css', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print.css', :media => 'print' %>
  </head>
  
  <body>
    
    
    <div class="container">
      
      <div class="span-24">
        Header
      </div>
      
      
      <div class="span-4">
        First Column
      </div>
      
      
      <div class="span-16">
        <%= yield %>
      </div>
      
      
      <div class="span-4 last">
        Last Column
      </div>      
      
      
      <div class="span-24">
        Footer
      </div>      
      
    </div>
    
    
  </body>
</html>